/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --primary-color:#003468;
  --primary-dark-color:#001931;
  --secondary-color:#f39c12;
}

::selection {
  background-color: rgba(243,156,18,1);
  /*color: rgba(0,0,0,0.6);*/
  color: white;
}

html{
  scroll-behavior: smooth;
}

img{
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track {
    background: white ;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

body {
    font-family: 'Roboto', sans-serif;
    /*line-height: 1.6;*/
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1200px !important;
}

body ul li ,body a{
  list-style-type: none;
  text-decoration:none ;
}

/*=====text-css=====*/

/* Navbar Styling */
.top-navbar {
  width: 100%;
  background-color: var(--primary-color);
  padding: 20px 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  z-index: 999;
  transition: all 0.3s ease;
  margin-bottom: 0px;
}

.top-navbar.overlay-active{
  background: rgba(2,30,57,1);
}

.navbar-overlay{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 998;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -ms-transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -o-transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.navbar-overlay.show{
  visibility: visible;
  opacity: 1;
}

.top-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.top-nav-logo a {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.top-nav-links{
    list-style: none;
    display: flex;
    margin-bottom: 0;
    /*max-width: 100;
    transition: width 0.5s ease*/
}

.top-nav-links li {
    margin-left: 30px;
    display: flex;
    padding: 10px;
}

.top-nav-items {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  display: flex;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
  align-items: center;
}

.top-nav-items:hover {
    color: var(--secondary-color);
    transform: scale(1.05);
}

.top-nav-items::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  bottom: -2px;
}

.top-nav-items:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.top-nav-dropdown {
  display: flex;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  position: absolute;
  margin-top: 30px;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  z-index: 99;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  transform: translateX(-25%);
  /* top: 60px; */
}
.top-nav-dropdown.dropdown-1.active-margin {
  margin-top: 0 !important;
}
.top-nav-dropdown-items{
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 10px;
  z-index: 1;
  transition: 0.5s;
}

.top-nav-dropdown-items:hover {
  /*background: #ffffff;*/
  color: var(--secondary-color);
}

@media(min-width: 768px){

  .top-nav-links li:hover .top-nav-dropdown{
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    height: auto;
  }

  .top-nav-items:hover .down-arrow-icon{
    transform: rotate(-180deg);
  }

  .b-r{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 23px;
  }
.b-r1{
  margin-top: 23px;
}
  .b-l{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 23px;
  }

  .padding-0{
    padding: 0 !important;
  }

  .padding-right-0{
    padding-right: 0 !important;
  }

  .padding-left-0{
    padding-left: 0 !important;
  }

.domain-form button {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid #f39c12;
  transition: 0.5s;
  align-items: center;
}
}
.separator{
  border-top: 1px dashed #c2c8cf;
  margin: 5px 0;
}

.space{
  margin:5px 0px;
}

.down-arrow-icon {
  margin: 0 4px;
  transition: transform 0.5s ease;
  width: 14px;
  height: 14px;
}

/* Mobile Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.hamburger span {
  background-color: #fff;
  height: 4px;
  width: 100%;
  border-radius: 4px;
}

.carousel-indicators button{
  background-color: grey !important;
  padding: 0px;
  height: 6px !important;
  width: 30px !important;
}

button.active{
  background-color: var(--secondary-color) !important;
}

.hero-section-1{
  background: #f3f9ff;
/*  padding-top: 79px;*/
}

.carousel-inner-body-text h6{
  color: #667093;
}

.carousel-inner-body-text ul{
  padding-left: 0px;
}

.carousel-inner-body-text ul li{
  color: black;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.carousel-inner-body-text ul li svg{
  margin: 4px 4px;
  background: #d3f4ff;
  color: var(--primary-color);
  padding: 8px;
  border-radius: 5px;
}

.carousel-inner-body-text a{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: 0.5s;
}

.carousel-inner-body-text a:hover{
  background-color: var(--primary-dark-color);
  border-color: var(--primary-dark-color);
}
.img-column{
  justify-content: center;
  display: flex;
}
.carousel-inner-body-img-1{
  user-select: none;
  width: 600px;
  height: 350px;
}

.carousel-inner-body-img-2{
  user-select: none;
  width: 450px;
  height: 350px;
}

.carousel-inner-body-img-3{
  user-select: none;
  width: 450px;
  height: 350px;
}

.heading h2{
  text-align: center;
}

.heading h2::after{
  content: "";
  display: block;
  margin: 4px auto;
  width: 0%;
  height: 3px;
  background-color:var(--secondary-color);
  transition: width 0.5s ease-in-out;
}

.heading h2:hover::after{
  width: 15%;
}

.section{
  padding: 10px;
  border: 1px solid #c7c7c7;
}

.section p{
  font-size: 11px;
  color: #535353;
  font-weight: 500;
}

.price{
  align-items: center;
}

.price h2{
  font-weight: bold;
}

.price h5{
  color: #5a5a5a;
}

.section ul{
  padding-left: 0px;
}

.section ul li{
  display: flex;
  align-items: center;
  list-style-type: none;
}

.section ul li svg{
  margin:0px 6px;
  color: var(--primary-color);
}

.section a{
  border-color: var(--primary-color);
  transition: 0.5s;
}

.section:hover a {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.section-outline{
  border: 1px solid var(--primary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 30px;
}

.section-outline .popular{
  display: flex;
  align-items: center;
}

.section-outline .popular h5{
  color: var(--primary-color);
}

.section-outline .popular h6{
  color: var(--primary-color);
  background-color: #d3f4ff;
  padding: 6px 8px;
  margin: 0px 4px;
  border-radius: 20px;
  margin-left: auto;
  font-size: 13px;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.section-outline a{
  background: var(--primary-color);
  transition: 0.5s;
}

.section-outline a:hover{
  background: #001931;
}

.margin-left-0{
  margin-left: 0;
}

.margin-right-0{
  margin-right: 0;
}

.hero-section-3{
  background-color: #f3f9ff;
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.hero-section-3::before{
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start:0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  background-image: url("../images/hosting-4.png");
  opacity: 0.08;
}

.section-2-img{
  width: 300px;
  height: 225px;
  float: right;
  margin: 0px 50px;
}

/*.section-2 .btns a{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transition: 0.5s;
}
*/
/*.section-2 .btns a:hover{
  background-color: #001931;
  border-color: #001931;
}*/

.pri{
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  transition: 0.5s;
}

.sec{
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  transition: 0.5s;
}

.sec:hover{
  background-color: #bc7300 !important;
  border-color: #bc7300 !important;
}

.pri:hover{
  background-color: #001931 !important;
  border-color: #001931 !important;
}

.btns{
  display: flex;
}

.btns a{
  display: flex;
  align-items: center;
}

.btns a svg{
  margin-right: 8px;
}

.section-3{
  padding: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  border:1px solid gainsboro;
  border-radius: 10px;
  background-color: #f4f4f4;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}

.section-3::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 0;
  display: block;
  background-color: var(--primary-color);
  transition: 0.5s;
}

.section-3:hover::after{
  height: 100%;
}

.section-3:hover{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.section-3 .section-3-heading{
  margin: 15px 0px;
}

.section-3-inner-body{
  display: flex;
  align-items: center;
}

.section-3-inner-body p{
  margin-bottom: 0px;
}

.section-3-inner-body svg{
  width: 55px;
  height: 55px;
  color: var(--primary-color);
  margin-right: 25px;
  margin-left: 15px;
}

.pricing{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 95px;
}

.pricing h6{
  font-size: 15px;
}

.pricing h5{
  font-size: 15px;
  color: var(--primary-color);
  font-weight: bold;
  margin-left: 2px;
}

.hero-section-5{
  margin-top: 50px;
}

.swiper-slide {
  background: #fff;
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 10px;
}

.swiper-slide h5{
  font-size: 15px;
}

.swiper-slide h6{
  font-size: 12px;
  color: grey;
}

.swiper-slide p{
  font-size: 13px;
  color: #565656;
  font-weight: 500;
}


.swiper-wrapper{
  position: relative;
  align-items: stretch;
}
.swiper-slide{
  height: auto !important;
}
.profile{
  display: flex;
  align-items: center;
}

.profile-img-section{
  border-radius: 100px;
  overflow: hidden;
  margin-right: 10px;
}

.stars{
  display: flex;
  align-items: center;
}

.stars svg{
  margin: 0px 2px;
  color: var(--secondary-color);
}

.rating h4{
  font-size: 13px;
  font-weight: bold;
  margin: 2px 4px;
}

.swiper-pagination{
  margin-top: 20px;
  position: static !important;
}

.hero-section-6{
  /*background-color: #f3f9ff;*/
  background-image: url("../images/hosting-6.jpg");
/*  margin-top: 40px;*/
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.hero-section-6::before{
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start:0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  opacity: 0.85;
}

.hero-section-6 h2{
  text-align: center;
  padding-top: 20px;
  color: white;
}

.domain-form {
  margin: 20px auto;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


@media(max-width:767px){
  .domain-form {
  display: block;
}
}
.domain-form input {
  padding: 12px;
  font-size: 14px;
  border-radius: 10px;
  width: 100%;
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
.domain-form button:hover{
  background-color: #bc7300;
}

.domain-items{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.domain-name{
  text-align: center;
}

.domain-name h4{
  font-size: 20px;
  color: white;
}

.domain-name h5{
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: bold;
}

.hero-section-7{
  margin-top: 40px;
}

.section-4{
  margin-top: 20px !important;
}

.accordion-item{
  border: 0px solid var(--secondary-color) !important;
}

.accordion-collapse{
  border: 1px solid var(--secondary-color) !important;
}

.accordion-header{
  border: 1px solid var(--secondary-color) !important;
  margin:10px 0px;
}

.accordion-button:focus{
  box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
}

.accordion-button:not(.collapsed){
  color: inherit !important;
  background-color: inherit !important;
  box-shadow: none !important;
}

.bottom-footer{
  margin-top: 60px !important;
  padding-top: 60px !important;
  background-color: var(--primary-color);
}

.footer-company-details{
  color: white;
}

.footer-company-details h2{
  font-weight: bold;
  cursor: pointer;
}

.footer-company-details p{
  color: #d0d0d0;
}

.footer-list h4{
  color: white;
  font-size: 16px;
}

.footer-list ul{
  padding-left: 0px !important;
}

.footer-list ul li{
  list-style-type: none;
  margin: 7px 0px;
}

.footer-list ul li a{
  text-decoration: none;
  color: #d0d0d0;
  transition: 0.5s;
  font-size: 13px;
}

.footer-list ul li a:hover{
  color: var(--secondary-color);
}

.footer-icons{
  display: flex;
  align-items: center;
}

.footer-icons svg{
  margin: 0px 4px;
  color: #d0d0d0;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.footer-icons svg:hover{
  color: var(--secondary-color);
}

.copyright-info{
  color: #d0d0d0;
  font-size: 13px;
  margin: 20px 0px 40px 0px;
}

.scroll-up-btn{
  padding: 0px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  overflow: hidden;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  max-height: 0px;
  transition: opacity 0.5s ease-in-out, visibility 0.5s, max-height 0.5s ease-in-out, padding 0.5s;
}

.scroll-up-btn.show {
  visibility: visible;
  opacity: 1;
  max-height: 100px;
  padding: 10px;
  border: unset;
}

.scroll-up-btn svg{
  transform: rotate(-90deg);
  color: var(--primary-color);
}

.hero-section-8{
  margin-top: 40px !important;
}

.section-5{
  display: block;
  text-align: center;
  padding: 10px;
  border:1px solid #c7c7c7;
  cursor: pointer;
  transition: 0.5s;
}

.section-5:hover{
  background: var(--primary-color);
}

.section-5:hover svg{
  color: white;
}

.section-5:hover h4{
  color: white;
}

.section-5 svg{
  height: 40px;
  width: 40px;
  color: var(--primary-color);
  margin: 25px 0px 15px 0px;
  transition: 0.5s;
}

.section-5 h4{
  font-size: 16px;
  color: var(--primary-color);
  margin: 0px 0px 10px 0px;
  transition: 0.5s;
}

.no-margin{
  margin: 0px !important;
}

.no-padding{
  padding: 0px !important;
}

.hero-section-9{
  margin-top: 40px !important;
}

.section-6{
  border:1px solid #c7c7c7;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  height: 100%;
}

.section-6:hover{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  margin-top: 5px;
}

.section-6 h5{
  font-size: 15px;
  color: var(--primary-color);
}

.section-6 p{
  font-size: 12px;
  color: #525252;
}

.section-6 svg{
  color: var(--primary-color);
  width: 50px;
  height: 50px;
  margin: 10px 0px 10px 0px;
}

.hero-section-10{
  margin-top: 40px !important;
}

.b-left-grey{
  border-left:1px solid #c7c7c7;
}

.b-right-grey{
  border-right:1px solid #c7c7c7;
}

.b-top-grey{
  border-top:1px solid #c7c7c7;
}

.b-bottom-grey{
  border-bottom:1px solid #c7c7c7;
}

.section-7{
  padding: 25px;
  text-align: center;
}

.section-7 p{
  font-size: 14px;
  margin-bottom: 0px;
  color: #4e4e4e;
}

.section-7 h5{
  font-size: 20px;
  /*color: #292929;*/
  color: var(--primary-color);
  font-weight: 400;
}

.section-7 svg{
  height: 50px;
  width: 50px;
  color: var(--primary-color);
  margin: 0px 0px 20px 0px;
}

.hero-section-11{
  margin-top: 40px !important;
  background-color: var(--primary-color);
  z-index: 1;
  position: relative;
}

.hero-section-11::before{
  content: "";
  position: absolute;
  inset-block-start:0;
  inset-inline-start:0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/hosting-4.jpg");
  opacity:0.10;
  z-index: -1;
}

.hero-section-11 h2{
  color: white;
}

.section-8{
  padding: 20px;
}

.section-8 h5{
  color: white;
  margin-bottom: 10px;
}

.section-8 p{
  color: white;
  margin-bottom: 0px;
}

.img-text{
  display: flex;
  align-items: center;
}

.img-text svg{
  color: white;
  width: 50px;
  height: 50px;
  margin: auto auto;
}

.section-11-img{
  height: 60px;
  min-width: 60px;
  background-color: var(--secondary-color);
  overflow: hidden;
/*  margin-right: 20px;*/
  display: grid;
  place-items:center;
  border-radius: 100px;
  margin-right: 20px;
}

.hero-section-12{
  margin-top: 40px;
}

.section-9-col{
  margin-top: 30px;
}

.section-9-text h5{
  color: var(--primary-color);
}

.section-9-text p{
  color: #4e4e4e;
  margin-bottom: 0px;
}

.hero-section-12-btn{
  background-color: var(--primary-color) !important;
  color: white !important;
  border-radius: 2px !important;
  margin-top: 40px;
}

.hero-section-12-btn:hover{
  background-color: #001931 !important;;
}

.section-9-col{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section-9-img{
  margin-right: 20px;
  display: grid;
  place-items:center;
}

.section-9-img svg{
  width: 30px;
  height: 30px;
  color: var(--primary-color);
}

.hero-section-13{
  margin-top: 40px !important;
}

.section-10{
  border:1px solid #c7c7c7;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  height: 100%;
}

.section-10:hover{
  border:1px solid var(--primary-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.section-10:hover svg{
  transform: rotateY(180deg);
}

.section-10 p{
  font-size: 13px;
  color: #4e4e4e;
}

.section-10-imgText{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.section-10-imgText svg{
  margin-right: 15px;
  width: 25px;
  height: 25px;
  color: var(--primary-color);
  transition: 0.5s;
}

.section-10-imgText h5{
  color: var(--primary-color);
  font-size: 18px;
  margin-bottom: 0px;
}

.hero-section-14{
  margin-top: 40px !important;
}

.section-11 {
  border: 1px solid #c7c7c7;
  padding: 30px !important;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.section-11::after{
  content: "";
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 0.3s ease-in-out;
  z-index: -1;
  background-color: var(--primary-color);
}

.section-11:hover::after{
  height: 100%;
}

.section-11:hover h5{
  color:white;
}

.section-11:hover p{
  color:white;
}

.section-11-image{
  min-height: 70px;
  min-width: 70px;
  max-width: 70px;
  display: grid;
  place-items:center;
  border-radius: 100%;
  box-shadow: 0px 9px 35px -2px rgba(0,52,104,0.3);
  margin: 0px 0px 20px 0px;
  background-color: white;
  transition: 0.5s;
}

.section-11-image svg{
  color: var(--primary-color);
  height: 35px;
  width: 35px;
  transition: 0.5s;
}

.section-11 h5{
  color: var(--primary-color);
  font-size: 18px;
  transition: 0.5s;
}

.section-11 p{
  font-size: 14px;
  color:#4e4e4e;
  transition: 0.5s;
  margin-bottom: 20px;
}

.hero-section-15{
  margin-top: 40px !important;
}

.section-12{
  padding: 100px 0px 0px 0px;
}

.section-12 h2{
  font-size: 40px;
  color: #5d647a;
}
.section-12 p{
  margin-top: 20px;
  font-weight: 400;
  color: #5d647a;
}

.section-12 a{
  background-color: #1457e6;
  color: white;
  margin-top: 20px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1;
}

.section-12 a::before{
  background-color: var(--primary-color);
  position: absolute;
  top: -200%;
  left: 50%;
  border-radius: 50%;
  content: "";
  transform: translateX(-50%);
  color: white;
  transition-duration: 800ms;
  width: 200%;
  height: 200%;
  z-index: -1;
}

.section-12 a:hover{
  background-color: #1457e6;
  color: white; 
}

.section-12 a:hover::before{
  top: -50%;
}

.section-img-13{
  overflow: hidden;
  padding: 30px;
}

.section-img-13 img{
  width: 100%;
}

.hero-section-16{
  margin-top: 40px !important;
  background-color: var(--primary-color);
}

.heading-1{
  text-align: center;
}

.heading-1 h2{
  font-size: 25px;
  color: white;
  position: relative;
  cursor: pointer;
}

.heading-1 h2::after{
  content: "";
  display: block;
  margin: 10px auto;
  height: 2px;
  width: 25%;
  background-color: white;
}

.heading-1 p{
  color: white;
  font-size: 13px;
}

.section-13 {
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;
  height: 100%;
}

.section-13 h4{
  font-size: 14px;
  font-weight: 400;
  color: white;
  position: relative;
  transition: 0.5s;
}

.section-13 h4::after{
  content: "";
  display: block;
  margin: 8px auto;
  height: 2px;
  width: 50%;
  background-color: white;
  transition: 0.5s;
}

.section-13 p{
  font-size: 12px;
  color: white;
  margin-top: 15px;
  margin-bottom: 0px;
  transition: 0.5s;
}

.section-13-img-section{
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 5px;
  margin:10px auto 20px auto;
  transform: rotate(45deg);
  transition: 0.5s;
  display: grid;
  overflow: hidden;
  place-items: center;
}

.section-13-img-section svg{
  height: 28px;
  width: 28px;
  color: var(--primary-color);
  transition: 0.5s;
  transform: rotate(-45deg);
}

.section-13:hover{
  background-color: white;
}

.section-13:hover h4{
  color: var(--primary-color);
}

.section-13:hover h4::after{
  background-color: var(--primary-color);
}

.section-13:hover p{
  color: var(--primary-color);
}

.section-13:hover .section-13-img-section{
  background-color: var(--primary-color);
}

.section-13:hover .section-13-img-section svg{
  color: white;
}

.hero-section-17{
  margin-top: 40px !important;
}

.section-14{
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.background-white{
  background-color: white;
  padding: 30px;
  text-align: center;
}

.section-14 h4{
  font-size: 20px;
}

.section-14 p{
  font-size: 14px;
}

.section-14 svg{
  margin-bottom: 20px;
  height: 60px;
  width: 60px;
}

.section-14::before{
  content: "";
  position: absolute;
  height: 102%;
  width: 102%;
  top: 0px;
  left: 0px;
  background-color: var(--primary-color);
  z-index: -1;
  border-radius: 10px;
  transition: 0.5s;
}

.section-14:hover::before{
  top:10px;
  left: 10px;
}

/*.carousel-inner-body{
  margin-top: 40px;
}*/

/* Mobile Responsiveness */
@media (max-width: 767px) {

  /**:hover{
    pointer-events: none;
  }*/

  .top-nav-links{
    /*display: none;*/
    display: block;
    position: fixed;
    background: #003468;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    flex-direction: column;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    transition: width 0.5s ease-in-out;
    white-space: nowrap;
    width: 0;
    padding: 0px;
    height: 100vh;
    max-height: 100vh;
    padding-top: 20px;
    overflow-y:auto;
    /*pointer-events: auto !important;*/
  }

  .top-nav-links li{
    display: block;
    /*pointer-events: auto !important;*/
  }

  .top-nav-items{
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    width: 100%;
    /*pointer-events: auto !important;*/
  }

  .top-nav-items:before{
    display: none;
  }

  .top-nav-items:hover{
    color: #fff;
    transform: none;
  }

  .down-arrow-icon{
    margin-left: auto;
  }

  .top-nav-links.show{
    width: 75%;
  }

  /*.top-nav-links li:hover .top-nav-dropdown{

  }
*/
  .top-nav-dropdown{
    background: #003468;
    box-shadow: none;
    position: static;
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    margin-top: 0px;
    margin-left: 15px;
    /*pointer-events: auto !important;*/
  }

  .top-nav-dropdown.show{
    visibility: visible;
    max-height: 400px;
    opacity: 1;
  }

  .top-nav-dropdown-items{
    color: white;
    margin-left: 70px;
    /*pointer-events: auto !important;*/
  }

  .down-arrow-icon:hover{
    transform: none;
  }

  .down-arrow-icon.rotateOneEighty{
    transform: rotate(-180deg);
  }

  .space{
    display: none;
  }

  .separator{
    display: none;
  }

  .hamburger {
    display: flex;
    /*pointer-events: auto !important;*/
  }

  /*.carousel-inner-body-img{
    width: 100vh;
    height: 100vh;
    user-select: none;
  }*/

  /*.carousel-inner-body-img-1{
    user-select: none;
    width: 100%;
    height: 350px;
  }

  .carousel-inner-body-img-2{
    user-select: none;
    width: 100%;
    height: 300px;
  }

  .carousel-inner-body-img-3{
    user-select: none;
    width: 100%;
    height: 310px;
  }*/

  .carousel-inner-body-text ul li{
    color: black;
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  .carousel-inner-body-text ul li svg{
    margin: 4px 4px;
    background: #d3f4ff;
    color: var(--primary-color);
    padding: 8px;
    border-radius: 5px;
    width: 22px;
    height: 22px;
  }

  .img-column{
    display: none;
  }

  .heading h2::after{
    width: 15%;
  }

  .section-2{
    margin-top: 0px !important;
  }

  .section-2-img{
    display: none;
  }

  .section-2 h2{
    font-size: 35px;
  }

  .section-2 p{
    font-size: 18px;
  }

  .btns{
    display: block !important;
  }

  .btns a{
    padding: 10px 15px;
    display: block;
  }

  .pri{
    margin-left: 0px;
    margin-top: 5px;
  }

  .hero-section-6 h2{
    padding-top: 0px !important;
  }

  .section-6{
    margin: 10px auto;
  }

 .domain-form button {
  margin: 5px auto 0px auto;
  display: block;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid #f39c12;
  transition: 0.5s;
}

  .domain-form input{
    width: 100%;
  }

  .domain-items{
    margin-top: 0px !important;
  }

  .domain-name{
    margin-top: 0px !important;
    width: 50% !important;
  }

  .domain-name h4{
    font-size: 25px;
  }

  .domain-name h4{
    font-size: 25px;
  }

  .footer-list{
    margin-top: 20px;
  }

  .section-7{
    border:1px solid #c7c7c7 !important;
  }

  .section-8{
    text-align: center;
  }

  .img-text{
    display: block;
    text-align: center;
  }

  .section-11-img{
    max-width: 60px;
    margin: 10px auto;
  }

  .hero-section-12 .container .row{
    padding-top: 0px !important;
  }

  .hero-section-12 .container .row .col-md-5{
    display: none;
  }

  .section-9-col{
    display: block;
    text-align: center;
  }

  .section-9-img{
    margin: 0px auto 10px auto;
  }

  .hero-section-12 .container .row .col-md-7{
    text-align: center;
  }

  .hero-section-12-btn{
    margin: 30px auto 0px auto;
  }

  .section-12{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    text-align: center;
  }

  .section-12 h2{
    color: black;
    font-size: 25px;
  }

  .section-img-13{
    display: none;
  }

  .section-13{
    margin: 20px auto 20px auto;
  }

  .hero-section-17.container.row{
    padding-top: 0px !important;
  }

  .section-14{
    margin: 20px auto 20px auto;
  }

}


/*========theme-css=======*/

.main_heading h1{
  font-size: clamp(32px, 5vw, 48px) !important;
  font-weight: 600;
}
.sub_heading h2{
  font-size: clamp(30px, 5vw, 40px) !important;
  font-weight: 600;
}

.section-3 h5 {
  font-size: 20px;
  font-weight: 600;
}

.bann_prc strong {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-color);
}

.plan_sec h5{
  font-size: 20px;
  font-weight: 600;
}
.feature-style-four h5 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}
.feature-style-four h5 svg{
  background: #f39c12;
  padding: 6px;
  border-radius: 50%;
  line-height: 30px;
  word-wrap: 40px;
  width: 9px;
  height: 9px;
}

.bg-1{
  background: var(--primary-color);
}

.br-10{
  border-radius: 10px;
}

.bg-theme-light{
  background: #00346812 !important;
}
.gap-bottom-two {
  margin-bottom: 30px;
}
.reg_domain input{
  border-color: var(--primary-color);
}

.domain-trasfer-form .domain-search-form {
  display: flex;
  gap: 1%;
  padding: 0;
}
.domain-trasfer-form .domain-search-form .search-bar {
  width: 75%;
}
.domain-trasfer-form .domain-search-form .select {
  width: 24%;
}

.domain-search-form {
  position: relative;
}
.domain-search-form .input-form {
  border: 2px solid var(--primary-color);
  background: #fff;
  height: 60px;
  padding: 15px 25px;
  width: 100%;
  color: #000;
  outline: unset;
  border-radius: 12px;
}
.domain-search-form .btn-02 {
  position: absolute;
  top: 6px;
  right: 6px;
}
@media (max-width:575px) {
  .domain-search-form {
    padding: 10px;
    padding-top: 0;
    display: block !important;
  }
  .domain-search-form .input-form {
    padding: 10px;
  }
  .domain-search-form .btn-02 {
    position: unset;
    width: 100%;
    margin-top: 15px;
  }
  .domain-trasfer-form .domain-search-form .search-bar {
  width: 100% !important;
}
  .select.input-form{
    margin-top: 10px;
    width: 100% !important;
  }
}

.domain-trasfer-form button {
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid #f39c12;
  transition: 0.5s;
  width: 100%;
}
.domain-trasfer-form button:hover {
  background-color: #bc7300;
}
.domain-card .domain-name {
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.17) 0px 13px 17px 0px, rgba(0, 0, 0, 0) 0px 4px 10px 0px;
}
.domain-card .domain-name {
  font-size: 25px;
  margin: 0;
  line-height: 1;
  text-align: center;
  color: #003468;
  font-weight: 600;
  transition: all .4s;
  border: 1px solid #fff;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 0px;
  background: #fff;
}
.domain-card:hover .domain-name {
  border: 1px solid var(--primary-dark-color);
  border-radius: 12px 12px 0px 0px;
  box-shadow: rgba(0, 52, 104, 0) 0px 13px 17px 0px, rgba(0, 52, 104, 0.42) 0px 4px 10px 0px;
  border-bottom: 0px;
}
.domain-card .domain-price {
  padding: 20px;
  background: var(--primary-color);
  text-align: center;
  color: #fff;
  font-weight: 600;
  border-radius: 0px 0px 12px 12px;
}


/*  =============tabbing css start=============*/
.tab-section {
  padding: 40px 0;
}
.tab-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tab-btn {
  color: var(--primary-color);
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #E9E9ED;
  transition: background-color 0.3s, color 0.3s;
  font-size: 15px;
}
.tab-btn.active {
  background-color: var(--primary-dark-color);
  color: #fff;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid #f39c12;
}
.tab-content .tab-pane {
  display: none;
}
.tab-content .tab-pane.active {
  display: block;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  height: 100%;
}
.feature-style-three.tabs-img img {
  max-width: 100% !important;
}
.feature-style-three.tabs-img h5 {
  font-size: 17px;
}
.tab-section .section-title h4 {
  font-size: 19px;
}
.tab-section .feature-style-two h5 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.tab-section .feature-style-one {
  background: #fff;
  padding: 5px;
}
.tab-section .feature-style-one h4 {
  font-size: 15px;
}
.tab-section .feature-style-one p {
  font-size: 13px;
}

.tab-section h2{
  color: #202428;
}

.about_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(max-width:567px){
  .about_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
}
/* ----------------------------------------------------------------
     Titan Email Video
------------------------------------------------------------------- */

.titanmail-video{
  background-color: rgb(250, 251, 254);
  border: 15px solid rgba(196, 192, 192, 0.5);
  border-radius: 5px;
  overflow: hidden; 
    }
    .titanmail-video video{
        height: 100%;
  width: 100%;
  display: flex;
  border: none;
  background-color: #000;
    }
/* ============   Top Bar css start==========*/
.header-topbar {
  background: #0d2f51;
}
.top-bar-support {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 0;
}
.top-bar-support a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.header-topbar {
  display: flex;
  justify-content: end;
}
.top-bar-dropdown {
  position: relative;
}
.top_right{
  display: flex;
  align-items: center;
  justify-content: end;
}
.dropdown-btn {
  background-color: unset;
  border: unset;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #fff;
}
.dropdown-btn i {
  margin-left: 5px;
  font-size: 12px;
}
.dropdown-menus {
  display: none;
  position: absolute;
  top: 100%;
  left: -50%;
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 9999;
}
.top-bar-dropdown.account .dropdown-menus {
  width: 200px;
}
.top-bar-dropdown .dropdown-menus.open {
  display: block;
}
.dropdown-menus li {
  padding: 8px 15px;
  cursor: pointer;
}
.header-topbar .dropdown-menus li a {
  font-size: 15px;
  color: #000;
}
.header-topbar .dropdown-menus li:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .top-bar-dropdown .dropdown-btn {
    display: inline-block;
    text-align: left;
  }
  .top-bar-dropdown.open .dropdown-menus {
    display: block;
  }
  .top_right{
  justify-content: center;
}
.top_left{
  justify-content: center;
  display: flex;
}
.top-bar-dropdown .dropdown-menus{
   left: 0; 
}

.top-bar-dropdown.language .dropdown-menus{
   left: -100%; 
}
}
/* ============   Top Bar css end==========*/


.login_sec {
  padding: 60px 0px;
  background: var(--primary-color);
}

.login_form {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
}
.login_form h2 {
  font-size: 25px;
  font-weight: 600;
}
.login_form label{
  font-size: 14px;
}
.login_form .logo h2{
  font-size: 30px;
  font-weight: 600;
  color: var(--primary-color) !important;
 }
.login_form .input-form{
  background: var(--color-white);
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
  border-radius: 4px;
  width: 100%;
}
.login_form input::placeholder {
  font-size: 14px;
  color: var(--primary-color);
}

.fit-content{
  width: fit-content;
}
.login_form .forgot-text{
  color: var(--primary-color);
}

.login_sec.forget_sec{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.policy-info{
  display: flex;
  align-items: center;
  color: #d0d0d0;
  margin: 20px 0px 40px 0px;
  justify-content: end;
}
.policy-info a{
  color: #d0d0d0;
    font-size: 13px;
    margin-inline-start: 20px;
    transition: all .5s;
}
.policy-info a:hover {
  color: var(--secondary-color);
}
.policy_section h3{
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
}


.contact_us {
  padding: 60px 0px;
  background: var(--primary-color);
  min-height: 100vh;
}
.contact-details {
  display: flex;
  gap: 20px;
  align-items: start;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.contact-details .content h5 {
  font-size: 17px;
  font-weight: 600;
  color: var(--primary-color);
}
.contact-details .content p {
  font-size: 13px;
  margin-bottom: 0;
}

.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
.contact-form input {
  border: 0;
  border-bottom: 1px solid #000;
  width: 100%;
  margin-bottom: 20px;
}
.contact-form input:focus {
  border: 0;
  border-bottom: 1px solid #000 !important;
  width: 100%;
}
